.tooltip {
  z-index: 9999;
  position: absolute;
  top: -30px;
  right: 50%;
  transform: translateX(50%);
  padding: 8px 10px 6px 10px;
  font-size: 12px;
  background-color: #090909;
  border: 1px solid #303030;
  border-radius: 0.5rem;
  color: #e4e4e4;
  display: none;
  white-space: nowrap;

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid transparent;
    border-top-color: #303030;
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid transparent;
    border-top-color: #090909;
    margin-top: -1px;
  }

  &.write-button-tooltip {
    top: 50px;
    right: 50%;
    transform: translateX(50%);
    &::before {
      top: auto;
      bottom: 100%;
      border-top-color: transparent;
      border-bottom-color: #303030;
    }
    &::after {
      top: auto;
      bottom: 100%;
      border-top-color: transparent;
      border-bottom-color: #090909;
      margin-top: 0;
      margin-bottom: -1px;
    }
  }

  &.sidebar-button-tooltip {
    top: 50px;
    right: -6%;

    &::before {
      top: auto;
      left: auto;
      right: 66%;
      bottom: 100%;
      border-top-color: transparent;
      border-bottom-color: #303030;
    }
    &::after {
      top: auto;
      left: auto;
      right: 66%;
      bottom: 100%;
      border-top-color: transparent;
      border-bottom-color: #090909;
      margin-top: 0;
      margin-bottom: -1px;
    }
  }

  &.macro-list-option {
    top: -32px;
    right: -4px;
    transform: translateX(0%);
  }

  &.menu-write-button-tooltip {
    top: 50%;
    right: -70px;
    transform: translateY(-50%);

    &::before {
      top: 50%;
      left: auto;
      right: 100%;
      transform: translateY(-50%);
      border: 6px solid transparent;
      border-right-color: #303030; /* 삼각형의 오른쪽 색상 */
      border-left: none;
    }

    &::after {
      top: 50%;
      left: auto;
      right: 100%;
      transform: translateY(-50%);
      border: 6px solid transparent;
      border-right-color: #090909; /* 삼각형의 오른쪽 색상 */
      border-left: none;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: -1px;
    }
  }
}

svg:hover + .tooltip {
  display: block; /* hover 상태일 때 표시 */
}
