.profile-popup {
  position: absolute;
  width: 240px;
  display: flex;
  padding: 6px;
  flex-direction: column;
  background-color: var(--primary-popup-color);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 0px var(--primary-boxshadow-color);
  z-index: 100;
  color: var(--primary-text-color);
  border: 1px solid var(--secondary-bg-color);

  /* && .header-profile-popup */
  &&.header-profile-popup {
    top: 50px;
    right: 10px;
  }

  /*  && .footer-profile-popup */
  &&.footer-profile-popup {
    bottom: 70px;
  }

  .profile-popup-email {
    font-size: 14px;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-popup-border {
    background-color: var(--primary-popup-border-color);
    height: 1px;
    margin: 12px;
    margin-bottom: 0.375rem;
    margin-top: 0.375rem;
  }

  .profile-popup-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-text-color);
    gap: 0.5rem;
    svg {
      color: var(--primary-text-color);
      width: 20px;
      height: 20px;
    }

    &:hover {
      background-color: var(--primary-popup-border-color);
    }
  }

  &.profile-popup-on {
    display: flex;
  }

  &.profile-popup-off {
    display: none;
  }
}
