.header {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  background-color: #333333;
  border-bottom: none;
  margin-bottom: 4px;
}

.left-buttons {
  display: flex;
  justify-content: space-between;
  width: 80px;
  transition: all 0.3s;
}

.sidebar-on {
  width: 296px;
  z-index: 999;
}

.right-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.profile:hover {
  background-color: #444444aa;
  cursor: pointer;
}

.profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.sidebar-button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #33333300;
  width: 40px;
  height: 40px;
  color: #ffffffc0;
  cursor: pointer;
}

.sidebar-button:hover {
  background-color: #44444495;
  border-radius: 8px;
}

.sidebar-on .sidebar-button:hover {
  background-color: #33333360;
}

.text-button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #33333300;
  width: 40px;
  height: 40px;
  color: #ffffffc0;
  cursor: pointer;
}

.text-button:hover {
  background-color: #44444495;
  border-radius: 8px;
}

.sidebar-on .text-button:hover {
  background-color: #33333360;
}

.menu-version {
  border: none;
  margin-left: 20px;
  font-weight: 800;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;

  height: 40px;
  color: #ffffffc0;
  cursor: pointer;
  padding: 0 10px;
}

.menu-version:hover {
  background-color: #444444aa;
  border-radius: 8px;
}
