.header {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  background-color: var(--primary-bg-color);
  border-bottom: none;
  margin-bottom: 4px;
}

.left-buttons {
  display: flex;
  justify-content: space-between;
  width: 80px; /* 기본 너비 */
  min-width: 80px; /* 기본 최소 너비 */
  transition: all 0.3s;
}

.sidebar-on {
  transition: all 0.3s;
  width: 240px; /* 너비를 설정하여 요소를 확장 */
  min-width: 240px; /* 최소 너비를 설정하여 요소가 작아지지 않도록 보장 */
  z-index: 101;
}

@media (max-width: 768px) {
  .left-buttons {
    display: none;
  }
}

.right-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-profile {
  display: flex;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.profile:hover {
  background-color: var(--primary-hover-color);
  cursor: pointer;
}

.profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .header-profile {
    display: none;
  }

  .profile {
    display: none;
  }
}

.sidebar-button {
  position: relative;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000000;
  width: 40px;
  height: 40px;
  color: var(--primary-text-color);
  cursor: pointer;

  &:hover {
    background-color: var(--primary-hover-color);
    border-radius: 8px;
  }
}

.sidebar-on .sidebar-button:hover {
  background-color: var(--secondary-hover-color);
}

.write-button {
  position: relative;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000000;
  width: 40px;
  height: 40px;
  color: var(--primary-text-color);
  cursor: pointer;

  &:hover {
    background-color: var(--primary-hover-color);
    border-radius: 8px;
  }
}

.sidebar-on .write-button:hover {
  background-color: var(--secondary-hover-color);
}

.second-sidebar-button {
  position: relative;
  border: none;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg-color);
  width: 40px;
  height: 40px;
  color: var(--primary-text-color);
  cursor: pointer;
}

@media (max-width: 768px) {
  .second-sidebar-button {
    display: flex;
  }
}

.menu-version {
  margin-left: 20px;
}

.second-write-button {
  position: relative;
  border: none;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg-color);
  width: 40px;
  height: 40px;
  color: var(--primary-text-color);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .second-write-button {
    display: flex;
  }
}
