.header {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  background-color: #212121;
  border-bottom: none;
  margin-bottom: 4px;
}

.left-buttons {
  display: flex;
  justify-content: space-between;
  width: 80px; /* 기본 너비 */
  min-width: 80px; /* 기본 최소 너비 */
  transition: all 0.3s;
}

.sidebar-on {
  transition: all 0.3s;
  width: 240px; /* 너비를 설정하여 요소를 확장 */
  min-width: 240px; /* 최소 너비를 설정하여 요소가 작아지지 않도록 보장 */
  z-index: 999;
}

@media (max-width: 768px) {
  .left-buttons {
    display: none;
  }
}

.right-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.profile:hover {
  background-color: #333333aa;
  cursor: pointer;
}

.profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .profile {
    display: none;
  }
}

.sidebar-button {
  position: relative;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #21212100;
  width: 40px;
  height: 40px;
  color: #ffffffc0;
  cursor: pointer;
}

.sidebar-button:hover {
  background-color: #33333395;
  border-radius: 8px;
}

.sidebar-on .sidebar-button:hover {
  background-color: #33333360;
}

.write-button {
  position: relative;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #21212100;
  width: 40px;
  height: 40px;
  color: #ffffffc0;
  cursor: pointer;
}

.write-button:hover {
  background-color: #33333395;
  border-radius: 8px;
}

.sidebar-on .write-button:hover {
  background-color: #33333360;
}

.second-sidebar-button {
  position: relative;
  border: none;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  width: 40px;
  height: 40px;
  color: #ffffffc0;
  cursor: pointer;
}

@media (max-width: 768px) {
  .second-sidebar-button {
    display: flex;
  }
}

.menu-version {
  border: none;
  margin-left: 20px;
  font-weight: 800;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  border-radius: 8px;
  height: 40px;
  color: #ffffffc0;
  cursor: pointer;
  padding: 0 10px;
}

.menu-version:hover {
  background-color: #333333aa;
}

@media (max-width: 768px) {
  .menu-version {
    margin-left: 0px;
  }
}

.second-write-button {
  position: relative;
  border: none;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  width: 40px;
  height: 40px;
  color: #ffffffc0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .second-write-button {
    display: flex;
  }
}
