.menu-select-button {
  border: none;
  font-weight: 800;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg-color);
  border-radius: 8px;
  color: var(--primary-text-color);
  cursor: pointer;
  padding: 6px 12px;
  gap: 0.4rem;

  svg {
    width: 18px;
    height: 18px;
    color: var(--primary-svg-color);
  }

  &:hover {
    background-color: var(--primary-hover-color);
  }
}
