.sidebar {
  display: flex;
  flex-direction: column;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 260px;
  background-color: #171717;
  color: white;
  overflow: visible;
  transition: transform 0.3s ease;
  &.closed {
    transform: translateX(-100%);
  }

  &.open {
    transform: translateX(0);
  }
}

.sidebar-head {
  display: none;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;

  .sidebar-button:hover {
    background-color: #33333360;
  }

  .write-button:hover {
    background-color: #33333360;
  }
}

@media screen and (max-width: 768px) {
  .sidebar-head {
    display: flex;
  }
}

.sidebar .sidebar-menu {
  list-style: none;
  margin-top: 56px;
  padding: 0 10px;
  flex: 1;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .sidebar .sidebar-menu {
    margin-top: 0px;
  }
}

.macro-menu {
  display: flex;
  gap: 0.625rem;
  padding: 0 6px;
  height: 40px;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem;
  user-select: none;
  .menu-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 24px;
      height: 24px;
    }
  }

  .menu-name {
    width: 100%;
    font-size: 16px;
    color: #ffffffc0;
    margin: 0px;
  }

  .menu-write-button {
    position: relative;
    border: none;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-right: 4px;
    background-color: #33333300;
    width: 18px;
    height: 18px;
    color: #ffffffc0;
    cursor: pointer;
  }

  &:hover {
    background-color: #33333360;
    .menu-write-button {
      display: flex;
    }
  }
}

.macro-search {
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px 0px;
  height: 40px;

  svg {
    position: absolute;
    left: 10px;
    color: #e4e4e4c0;
    z-index: 99;
  }

  input {
    width: 100%;
    height: 100%;
    padding-left: 30px;
    background-color: #242424;
    border: 1px solid #303030;
    color: #e4e4e4c0;
    border-radius: 0.5rem;
  }

  input:focus {
    outline: none;
    border: 1px solid #ffffff60;
  }
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 1.25rem;

  p {
    padding: 12px 8px 8px;
    margin: 0px;
    font-size: 12px;
    color: #e4e4e4c0;
  }

  .macro-list {
    position: relative;

    .macro-list-container {
      box-sizing: border-box;
      font-size: 14px;
      padding: 10px 10px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #e4e4e4;
      border-radius: 0.5rem;
      margin: 1px 0px;

      svg {
        color: #e4e4e4c0;
        display: none;
        &:focus {
          outline: none;
          border: none;
        }
      }
    }

    .macro-list-container:hover {
      background-color: #33333360;
    }

    .macro-list-container:hover svg {
      display: block;
    }

    .active {
      background-color: #33333360;
    }

    .focused {
      background-color: #33333360;
    }

    .active svg {
      display: block;
    }

    .focused svg {
      display: block;
    }
  }
}

.sidebar-footer {
  flex-shrink: 0;
  padding: 10px;

  .footer-profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;
    padding: 8px;
    border-radius: 0.5rem;
    cursor: pointer;

    .profile {
      width: 30px;
      height: 30px;
    }
  }

  .footer-profile:hover {
    background-color: #33333360;
  }
  .footer-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;
    color: #e4e4e4c0;
    padding: 8px 10px;

    p {
      margin: 0;
    }
  }
}

.options-popup-container {
  position: absolute;
  width: 110px;
  display: flex;
  padding: 8px;
  flex-direction: column;
  background-color: #303030;
  border-radius: 0.7rem;
  box-shadow: 0px 0px 10px 0px #00000060;
  z-index: 100;
}

.options-popup-button-pin,
.options-popup-button-edit,
.options-popup-button-delete {
  padding: 10px 22px 10px 16px;
  border: none;
  width: 100%;
  background-color: #303030;
  color: #e4e4e4;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
  font-size: 14px;
  font-weight: 500;

  svg {
    width: 20px;
    height: 20px;
  }

  span {
    margin-left: 6px;
  }

  &.options-popup-button-delete {
    color: #f93a37;

    svg {
      color: #f93a37;
    }
  }
}

.options-popup-button-pin:hover,
.options-popup-button-edit:hover,
.options-popup-button-delete:hover {
  background-color: #444444;
}
